{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
	<div class="row">
		<div class="form-group my-5 col-12 col-md-5 col-lg-3">
			<h3 class="mb-3 text-primary">Upload New Post</h3>
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %} {{form.image_url}}
				<button type="submit" class="btn btn-primary mt-2">Upload</button>
			</form>
		</div>
		<div class="col-12 col-md-6 col-lg-8 d-flex flex-column align-items-center border-start border-dark ms-5">
			{% if posts %} {% for post in posts %}
			<div class="card w-50">
				<div class="card-header d-flex align-items-center">
					<img
						class="rounded-circle z-depth-2"
						alt="100x100"
						src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
						width="60"
						height="60"
					/>
					<p class="fs-5 ms-4 mt-2">Username</p>
				</div>
				<div class="card-body">
					<img
						class="z-depth-2 w-100"
						alt="100x100"
						src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
					/>
				</div>
				<div class="card-footer">
					<div class="small d-flex justify-content-start">
						<a
							href="#!"
							class="d-flex align-items-center fs-4 me-3 text-decoration-none"
						>
							<i class="fa-solid fa-heart"></i>
						</a>
						<a
							data-bs-toggle="collapse"
							href="#comments-1"
							role="button"
							class="d-flex align-items-center me-3 fs-4 text-decoration-none"
						>
							<i class="far fa-comment-dots me-2"></i>
						</a>
					</div>
					<div
						id="comments-1"
						class="collapse card-footer py-3 border-0"
						style="background-color: #f8f9fa"
					>
						<form action="/add_comment/{{post.id}}" method="POST">
							{% csrf_token %}
							<div class="d-flex flex-start w-100">
								<div class="form-outline w-100">
									<input
										type="text"
										name=""
										id=""
										class="form-control form-control-lg"
										placeholder="Comment"
									/>
								</div>
							</div>
							<div class="float-end mt-2 pt-1">
								<button type="submit" class="btn btn-primary btn-sm">
									Comment
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{% endfor %} {% else %}
			<div>
				<h2 class="text-primary">Your Timeline is Empty</h2>
				<p>Follow more people to see their posts and populate your feed.</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
