{% extends 'base.html' %} {% block content %}
{% load static %}
<main>
	<div class="container">
		<div
			class="min-vh-100 text-center d-flex flex-column align-items-center justify-content-center"
		>
			<div>
				<h1 class="display-4 text-light">Welcome to the Community</h1>
				<p class="text-light fs-4">Connect, Share and Engange</p>
			</div>
			<div class="d-md-flex align-items-center justify-content-center">
				<button class="btn btn-outline-light me-3">Login</button>
				<button class="btn btn-primary ms-3">Signup</button>
			</div>
		</div>
	</div>
</main>
{% endblock %}
