{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-3">
	<div class="d-flex flex-wrap align-items-center justify-content-around">
		<img
			class="rounded-circle z-depth-2"
			alt="100x100"
			width="200"
			height="200"
			src="{{profile.profile.avatar.url}}"
			data-holder-rendered="true"
		/>
		<div class="w-md-50 ps-md-5">
			<div class="d-flex align-items-center justify-content-between mt-2">
				<p class="fs-3"> {{profile.username}} </p>
				<a
					class="btn btn-primary"
					data-bs-toggle="modal"
					data-bs-target="#exampleModal"
				>
					Edit Profile
				</a>
			</div>
			<div class="d-flex align-items-center flex-wrap mt-2">
				<p class="me-3"> {{posts | length}} <span class="text-primary">Posts</span></p>
				<p class="me-3">23 <span class="text-success">Followers</span></p>
				<p>23 <span class="text-danger">Following</span></p>
			</div>
			<p class="fs-5">
				<span class="d-inline-block me-3"> {{profile.profile.firstName}} </span>
				<span class="d-inline-block"> {{profile.profile.lastName}} </span>
			</p>
			<div>
				<h5>Bio</h5>
				<p> {{profile.profile.bio}} </p>
			</div>
		</div>
	</div>
	<hr />
	<div>
		<h2 class="text-center mb-4">Posts</h2>
		<div class="d-flex justify-content-around flex-wrap">
			{% if posts %}
			{% for post in posts %}
			<div style="width: 22rem;" class="card mb-3">
				<div class="card-body">
					<img
						class="z-depth-2 w-100"
						alt="100x100"
						src="{{post.image_url.url}}"
						data-holder-rendered="true"
					/>
				</div>
				<div class="card-footer">
					<a href="">
						<i class="fa-solid fa-trash-can"></i>
					</a>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div>
				<h2 class="text-primary">
					You have not added any posts yet
				</h2>
			</div>
			{% endif %}
			<!-- <div class="card mb-3">
				<div class="card-body">
					<img
						class="z-depth-2 w-100"
						alt="100x100"
						src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
						data-holder-rendered="true"
					/>
				</div>
				<div class="card-footer">
					<a href="">
						<i class="fa-solid fa-trash-can"></i>
					</a>
				</div>
			</div> -->
			<!-- <div class="card mb-3">
				<div class="card-body">
					<img
						class="z-depth-2 w-100"
						alt="100x100"
						src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
						data-holder-rendered="true"
					/>
				</div>
				<div class="card-footer">
					<a href="">
						<i class="fa-solid fa-trash-can"></i>
					</a>
				</div>
			</div> -->
			<!-- <div class="card mb-3">
				<div class="card-body">
					<img
						class="z-depth-2 w-100"
						alt="100x100"
						src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
						data-holder-rendered="true"
					/>
				</div>
				<div class="card-footer">
					<a href="">
						<i class="fa-solid fa-trash-can"></i>
					</a>
				</div>
			</div> -->
		</div>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="exampleModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<div class="form-group mb-3">
						<label class="form-label text-primary" for=""> Upload Profile Pic </label>
						{{form.avatar}}
					</div>
					<div class="form-group mb-3">
						<label class="form-label text-primary" for=""> First Name </label>
						{{form.firstName}}
					</div>
					<div class="form-group mb-3">
						<label class="form-label text-primary" for=""> Last Name </label>
						{{form.lastName}}
					</div>
					<div class="form-group mb-3">
						<label class="form-label text-primary" for=""> Gender </label>
						{{form.gender}}
					</div>
					<div class="form-group mb-3">
						<label class="form-label text-primary" for=""> Bio </label>
						{{form.bio}}
					</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
						Save changes
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

